<!DOCTYPE html>
    <html>
        {{> header}}
        <head>
            <h1>{{Cap About}}</h1>
            <h2>this is a about page</h2>
        </head>
        <body>
            <p>{{Something}}</p>
            <p>More something</p>
        </body>
      {{> footer}}
    </html>