<!DOCTYPE html>
    <head>
      <h1>This is the main page</h1>    
    </head>
    <body>
        <p><a href="./about">About</a></p>
        <p><a href="./about/error">Content</a></p>
        <p>Blah blaah </p>
        <p>More blah blah</p>
    </body> 
    <footer>
        {{> footer}}
    </footer>